In [17]:
import pandas as pd
import numpy as np

In [2]:
# TASK: map  numbers to squares

# Iterative approach => BAD
numbers = [1, 2, 3, 4, 5]

numbers_square = []

for num in numbers:
    numbers_square.append(num**2)

numbers_square

[1, 4, 9, 16, 25]

In [4]:
# using map() function

numbers_square = list(map(lambda el:el**2, numbers))
numbers_square

[1, 4, 9, 16, 25]

In [6]:
# list comprehensions
numbers_square = [el**2 for el in numbers]
numbers_square

[1, 4, 9, 16, 25]

In [7]:
user_roles_map = {
    'Ivan': 'user',
    'Stoyan': 'admin',
    'Petar': 'user'
}

users = ['Ivan', 'Stoyan', 'Petar']
roles = [user_roles_map[user] for user in users]
roles

['user', 'admin', 'user']

In [8]:
# Example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
})
df

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
df.map( lambda el:el**2 )

   A   B
0  1  16
1  4  25
2  9  36

In [27]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(0, 100, size=(5, 3)), columns=['A', 'B', 'C'])
df.sort_values(by='A')

    A   B   C
4  23   2  21
0  51  92  14
1  71  60  20
3  74  87  99
2  82  86  74

In [29]:
def csum(c):
    return c.max() - c.min()

df.apply( csum, axis=1)

0    78
1    51
2    12
3    25
4    21
dtype: int64

In [30]:
# Create a sample DataFrame with student scores
data = {
    'Math': np.random.randint(50, 100, size=5),
    'Science': np.random.randint(50, 100, size=5),
    'English': np.random.randint(50, 100, size=5)
}
students_df = pd.DataFrame(data)

# add 'Student' column with student names values
student_names = ['Student A', 'Student B', 'Student C', 'Student D', 'Student E']
students_df.insert(loc=0, column='Student', value=student_names)

students_df

     Student  Math  Science  English
0  Student A    51       51       93
1  Student B    73       70       74
2  Student C    93       82       98
3  Student D    79       61       76
4  Student E    87       71       91

In [31]:
df.apply( lambda r:r.max() - r.min(), axis=1 )

0    78
1    51
2    12
3    25
4    21
dtype: int64

In [32]:
df['Consistency'] = df.apply( lambda r:r.max() - r.min(), axis=1 )
df

    A   B   C  Consistency
0  51  92  14           78
1  71  60  20           51
2  82  86  74           12
3  74  87  99           25
4  23   2  21           21