In [2]:
import pandas as pd
import numpy as np

## Basics

In [3]:
arr = np.array([1,2,3])
arr

array([1, 2, 3])

In [5]:
s1 = pd.Series(arr, index=['a', 'b', 'c'])
s1

a    1
b    2
c    3
dtype: int64

In [6]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [10]:
print( s1[2] )
print( s1['c'] )

3
3

/tmp/ipykernel_21761/858081923.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( s1[2] )

In [13]:
print(s1[:2])
print(s1[:'c'])

a    1
b    2
dtype: int64
a    1
b    2
c    3
dtype: int64

## Arithmetic Operations

In [14]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])
s1+s2

0    5
1    7
2    9
dtype: int64

In [ ]:
tmp = s1[ [True, False, True] ]
tmp

0    1
2    3
dtype: int64

In [18]:
mask = s1 > 2
mask

0    False
1    False
2     True
dtype: bool

## Filtering

### Example

Get only even elements from a series

In [19]:
s1 = pd.Series(np.arange(1,11))
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [30]:
mask = s1%2==0
s1[ mask ]

1     2
3     4
5     6
7     8
9    10
dtype: int64

In [33]:
ds1 = pd.Series([1,3], index=["a","c"])
ds1

a    1
c    3
dtype: int64

In [34]:
ds2 = pd.Series([2,3], index=["b","c"])
ds2

b    2
c    3
dtype: int64

In [35]:
ds1 + ds2

a    NaN
b    NaN
c    6.0
dtype: float64

## Indexing

In [38]:
s1 = pd.Series( [1,2,3,4] , ['a', 'b', 'c', 'd'] )
s1

a    1
b    2
c    3
d    4
dtype: int64

In [41]:
s1.iloc[2:]

c    3
d    4
dtype: int64

In [43]:
s1.loc['b':]

b    2
c    3
d    4
dtype: int64