In [26]:
import pandas as pd
import json

In [27]:
json_data = '''
{
  "campains":{

  },
  "employees": [
    {
      "name": "Ivan Ivanov",
      "email": "ivan@example.com",
      "job": {
        "title": "Analyst",
        "department": "Finance"
      }
    },
    {
      "name": "Maria Popova",
      "email": "maria@example.com",
      "job": {
        "title": "Engineer",
        "department": "Development"
      }
    }
  ]
}
'''

In [28]:
data = json.loads(json_data)

In [29]:
df = pd.json_normalize(
    data=data,
    record_path='employees',
    sep="_",

)
df

           name              email job_title job_department
0   Ivan Ivanov   ivan@example.com   Analyst        Finance
1  Maria Popova  maria@example.com  Engineer    Development

## Example 2: Handling Nested Structures (using record_path)

In [30]:
data = [
    {
        "id": 1,
        "name": "Ivan Petrov",
        "info": {
            "age": 28,
            "city": "Sofia",
            "friends": [
                {"name": "Dimitar Dimitrov", "age": 30},
                {"name": "Stefan Ivanov", "age": 26}
            ]
        }
    }
]

df = pd.json_normalize(data=data)
df

,id,name,info.age,info.city,info.friends
0,1,Ivan Petrov,28,Sofia,"[{'name': 'Dimitar Dimitrov', 'age': 30}, {'na..."

In [31]:
df = pd.json_normalize(
    data=data,
    record_path=['info', 'friends'],
    record_prefix='_',
    meta=[
        'name',
        ['info', 'age'],
        ['info', 'city']
    ],
    meta_prefix='user_'
)
df

              _name  _age    user_name user_info.age user_info.city
0  Dimitar Dimitrov    30  Ivan Petrov            28          Sofia
1     Stefan Ivanov    26  Ivan Petrov            28          Sofia